<table border = 1 >

    <tr>
        <td>First_name</td>
        <td>Last_name</td>
        <td>Email</td>
        <td>Mobile Number</td>

    </tr>
    {% for user in userDetails %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<form method="POSt" action="">
    First Name <input type="text" name="first_name">
    <br>
    Last Name <input type="text" name="last_name">
    <br>
    Email <input type="text" name="email">
    <br>
    Mobile Number <input type="text" name="mobile_number">
    <br>
    <input type="submit">
    
</form>
