<h1> List of users </h1>

<table border = 1 >

    <tr>
        <td>First_name</td>
        <td>Last_name</td>
        <td>Email</td>
        <td>Mobile Number</td>
        <td>Edit</td>
        <td>Delete</td>

    </tr>
    {% for user in userDetails %}
    <tr>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
        <td>{{ user[4] }}</td>
        <td><Button><a href="/edit/{{ user[0] }}"> Edit </a></button></td>
        <td><Button><a href="/delete/{{ user[0] }}"> Delete </a></Button></td>
    </tr>
    {% endfor %}
</table>

<br>

<h1>Add a new user</h1>

<form method="POST" action="">
    First Name <input type="text" name="first_name">
    <br>
    Last Name <input type="text" name="last_name">
    <br>
    Email <input type="text" name="email">
    <br>
    Mobile Number <input type="text" name="phone_number">
    <br>
    <input type="submit" value="Add User">
    
</form>
